body {
    font-family: 'Fredoka', sans-serif;
    overflow-x: hidden;
}

.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

/* Theme Animation Circle */
#ripple {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 100;
    transform: translate(-50%, -50%);
}